header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 80px;
    background-color: aqua;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    padding-left: 20px;
}
ul{
    display: flex;
}
span{
    padding-right: 10px;
}